body.home {

	section.banner {
		background: $slate;
		color: $white;
		padding: 25px 0 21px 0;

		p {
			text-align: center;
			font-size: 1.25em;
			font-weight: 400;

			a {
				color: $white;
				text-decoration: underline;
			}
		}
	}

	section.hero {
		.logo {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
			width: 100%;

			.logo-wrapper {
				max-width: 300px;
				margin: 0 auto;
				padding: 50px 25px;

				@include tablet-portrait {
					max-width: 400px;
				}

				img {
					width: 100%;
				}
			}
		}

		.photo {
			max-height: 800px;
			
			@include aspect-ratio(4, 3);

			@include tablet-portrait {
				@include aspect-ratio(16, 9);
			}

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

		}


	}

	section.links {
		text-align: center;
		@include section-spacing(50, 50, 100, 100)

		.headline {
			padding-bottom: 50px;

			h2 {
				font-family: $italian-typewriter;
				text-transform: lowercase;
				font-weight: bold;
				color: $gold;
				font-size: 2.5em;
				line-height: 1em;

				&:after {
					content: "";
					display: block;
					width: 80px;
					height: 6px;
					border-radius: 2px;
					background: $gold;
					margin: 25px auto 0 auto;
				}

				@include tablet-portrait {
					font-size: 4em;
				}
				
			}
		}

		.links-wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: flex-start;

			.link {
				width: 100%;
				margin-bottom: 20px;

				@include tablet-portrait {
					width: calc(50% - 10px);
				}

				@include tablet-portrait {
					width: calc(25% - 10px);
				}

				.note {
					padding-top: 25px;
					margin: 0 auto;
					max-width: 420px;

					p {
						font-family: $italian-typewriter;
						text-transform: lowercase;
						font-weight: bold;
						font-size: 1.125em;
						line-height: 1.125em;

						a {
							font-size: 0.875em;
							color: $gold;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}



				a.btn {
					background: $slate;
					color: $white;
					font-family: $italian-typewriter;
					text-transform: lowercase;
					font-weight: bold;
					font-size: 1.25em;
					padding: 20px 25px 18px 25px;
					border-radius: 10px;
					display: inline-block;

					&:hover {
						background: $gold;
					}


				}
			}

		}
	}

	section.photos {
		background: $slate;
		padding: 50px 0;

		.wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.photo {
				width: 100%;
				padding-top: 25px;

				@include mobile-landscape {
					width: calc(33.3333% - 25px);
					padding-top: 0;
				}

				img {
					border-radius: 12px;
				}
			}
		}
	}

	section.info {
		background: $dark-green;
		color: $gold;
		padding: 50px 0 25px 0;
		text-align: center;

		.wrapper {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.col {
				width: 100%;
				color: $white;

				& + .col {
					padding-top: 50px;
					border-top: 2px solid rgba(209, 173, 77, 0.25);
					margin-top: 50px;
				}

				@include tablet-portrait {
					width: 33.3333%;

					& + .col {
						border-left: 2px solid rgba(209, 173, 77, 0.25);
						border-top: none;
						padding-top: 0;
						margin-top: 0;
					}
				}

				.headline {
					padding-bottom: 25px;

					h3 {
						color: $gold;
						font-family: $italian-typewriter;
						text-transform: lowercase;
						font-weight: bold;
						font-size: 2.5em;

						@include tablet-portrait {
							font-size: 2em;
						}

						@include tablet-landscape {
							font-size: 2.5em;
						}

						strong {
							color: $red;
						}
					}
				}

				.copy {
					padding-left: 20px;
					padding-right: 20px;

					p {
						font-size: 1.25em;
						line-height: 1.75em;
						letter-spacing: -0.02em;
					}
				}

				.coming-soon {
					p {
						font-size: 1.125em;
						color: $gold;
						font-style: italic;
						line-height: 1.5em;
						letter-spacing: 0.02em;
					}
				}
			}
		}


		.menus {
			.links-wrapper {
				text-transform: lowercase;

				.link {

					& + .link {
						padding-top: 25px;
					}

					a {
						color: $white;
						font-size: 1.25em;

						@include tablet-landscape {
							font-size: 1.5em;
						}

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.note {
					p {
						color: $white;
						font-size: 1.25em;

						em {
							color: $gold;
							font-size: 0.875em;
							letter-spacing: 0.02em;
						}
					}
				}
			}
		}

		.location {
			.copy {
				padding-bottom: 50px;

				a {
					color: $white;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.large-party {
				a {
					color: $gold;
				}
			}
		}
	}
	
	section.footer-links {
		background: $dark-green;
		color: $gold;
		text-align: center;

		@include tablet-portrait {
			padding-bottom: 50px;
		}

		.wrapper {
			padding-top: 25px;

			@include tablet-portrait {
				padding-top: 10px;
			}

			.col-wrapper {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				border-top: 2px solid rgba(209, 173, 77, 0.25);

				@include tablet-portrait {
					padding-top: 25px;
				}
			}


			.col {
				width: 100%;
				padding: 50px 0;

				& + .col {
					border-top: 2px solid rgba(209, 173, 77, 0.25);
				}

				@include tablet-portrait {
					width: 33.3333%;
					padding: 25px 0;

					& + .col {
						border-left: 2px solid rgba(209, 173, 77, 0.25);
						border-top: none;
					}
				}

				.headline-link {
					font-family: $italian-typewriter;
					text-transform: lowercase;
					font-weight: bold;
					color: $gold;
					font-size: 2.5em;

					@include tablet-portrait {
						font-size: 2em;
					}

					@include tablet-landscape {
						font-size: 2.25em;
					}

					strong {
						color: $red;
					}
				}

			}


		}

		.social {

			.links-wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 200px;
				margin: 0 auto;

				@include tablet-portrait {
					padding-top: 5px;	
				}				
			}

			a {
				display: block;
				padding: 10px;

				img {
					max-width: 68px;
					width: 100%;
				}
			}
			
		}
	}
	
	section.hrg-footer {
		background: $slate;
		color: $white;
		padding: 50px 0;

		p {
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-size: 1em;
			margin-bottom: -3px;
			font-weight: 900;

			@include tablet-portrait {
				font-size: 1.25em;
			}
		}

		a {
			color: rgba(255, 255, 255, 0.75);

			&:hover {
				color: rgba(255, 255, 255, 1);
			}
		}

		.newsletter {
			text-align: center;
			padding: 50px 0 0 0;

			h4 {
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 0.1em;
				font-size: 0.8125em;
				line-height: 1.5em;
				text-align: center;
				color: rgba(255, 255, 255, 0.75);
			}

			.cta {
				padding-top: 30px;
				a.btn {
					border: 2px solid rgba(255, 255, 255, 0.75);
					background: transparent;
					color: rgba(255, 255, 255, 0.75);
					padding: 10px 16px 8px 16px;
					border-radius: 5px;
					text-transform: uppercase;
					font-size: 0.75em;
					letter-spacing: 0.1em;
					font-weight: bold;

					&:hover {
						background: $white;
						color: $slate;
					}
				}
			}
		}
	}

}
.overlay {
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(47, 46, 45, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;

	&.show {
		opacity: 1;
	}
}

.overlay-wrapper {
	background: $white;
	max-width: 640px;
	padding: 50px;
	border-radius: 2px;
	box-shadow: 0 0 24px rgba(47, 46, 45, 0.5);
	max-height: 90vh;
	overflow: scroll;
}

.close {
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 2em;
}


section#newsletter-subscribe {
	display: none;
	padding: 25px;

	.overlay-wrapper {
		padding: 100px 50px;
	}

	#mc_embed_signup div.mce_inline_error {
		background-color: #f00;
		font-weight: normal;
		margin: 10px 0 0 0;
		font-size: 1em;
		padding: 12px 12px;
	}

	#mce-responses {
		margin-top: 10px;


		.response {
			font-size: 0.875em;
			line-height: 1.25em;
		}
	}
	
	form {


		p {
			width: 100%;
			display: block;
			padding: 0 0 25px 0;
			font-weight: normal;
			font-size: 1.125em;
			line-height: 1.125em;

			@include tablet-portrait {
				font-size: 1.75em;
			}
		}

		.form-wrapper {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			.mc-field-group {
				width: 100%;

				@include tablet-portrait {
					width: auto;
					flex: 1;
				}
			}

			.clear {
				width: 100%;

				@include tablet-portrait {
					width: auto;
				}
			}
		}

		input[type="email"] {
			width: 100%;				
			border: none;
			padding: 14px 15px 11px 15px;
			font-weight: 500;
			border: 2px solid $slate;

			&::placeholder {
				color: $slate;
			}

			&:active,
			&:focus {
				outline: none;
			}
		}

		.button {
			border: 2px solid;
			background: transparent;
			color: $slate;
			margin-top: 10px;
			padding: 18px 16px 15px 16px;
			border-radius: 5px;
			text-transform: uppercase;
			font-size: 0.75em;
			letter-spacing: 0.1em;
			font-weight: bold;
			transition: all 0.2s ease-in-out;

			@include tablet-portrait {
				margin: 0 0 0 10px;
			}

			&:hover {
				background: $slate;
				color: $white;
				border: 2px solid $slate;
			}

			&:active,
			&:focus {
				outline: none;
			}
		}
	}
}



section#large-party-form {
	display: none;
	padding: 25px;

	.overlay-wrapper {
		padding: 50px;
		background: $cream;
	}

	.wpforms-title {
		font-weight: bold;
		font-size: 36px;
		font-family: $italian-typewriter;
		text-transform: lowercase;
		color: $gold;
	}

	.wpforms-description {
		font-size: 14px;
		line-height: 22px;
	}

	.wpforms-field-divider {
		padding-top: 30px;
		padding-bottom: 12px;
		border-bottom: 1px solid $light-gray;
		margin-bottom: 10px;

		h3 {
			font-size: 24px;
			font-weight: bold;
			font-family: $italian-typewriter;
			text-transform: lowercase;
			color: $dark-green;
		}
	}
	div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
	div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
	div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
		max-width: 100%;
	}

	.wpforms-field-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& > * {
			width: 100%;
		}

		@include tablet-portrait {
			.wpforms-field-email,
			.wpforms-field-phone,
			.wpforms-field-date-time {
				width: calc(50% - 10px);
			}
		}
	}

	div.wpforms-container-full .wpforms-form .wpforms-field-description {
		font-size: 14px;
		line-height: 22px;
	}

	div.wpforms-container-full .wpforms-form label.wpforms-error {
		padding-top: 5px;
	}

	div.wpforms-container-full .wpforms-form button[type=submit] {
		background: $slate;
		color: $white;
		font-family: $italian-typewriter;
		text-transform: lowercase;
		font-weight: bold;
		font-size: 1.25em;
		padding: 20px 25px 16px 25px;
		border-radius: 10px;
		display: inline-block;
		border: none;

		&:hover {
			background: $gold;
		}

		@include tablet-landscape {
			font-size: 1.5em;
		}	
	}

}