/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #6D6862;
$slate: #161618;
$black: #000;


$red: #863029;
$beige: #C6BEAB;
$off-gray: #CBCBCB;


$cream: #FDFAF5;
$gold: #CEA941;
$dark-green: #1D241D;


/* Typography
----------------------------------*/
@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-BookOblique.woff2') format('woff2'),
        url('fonts/AvenirLTStd-BookOblique.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Italian Typewriter';
    src: url('fonts/ItalianTypewriter.woff2') format('woff2'),
        url('fonts/ItalianTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





$avenir: 'Avenir LT Std', sans-serif;
$italian-typewriter: 'Italian Typewriter', serif;