/*

    Theme Name: Fiasco Landing Page
    Theme URI: https://fiascoseattle.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Fiasco Landing Page
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'Avenir LT Std';
  src: url("fonts/AvenirLTStd-BookOblique.woff2") format("woff2"), url("fonts/AvenirLTStd-BookOblique.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("fonts/AvenirLTStd-Book.woff2") format("woff2"), url("fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Avenir LT Std';
  src: url("fonts/AvenirLTStd-Black.woff2") format("woff2"), url("fonts/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Italian Typewriter';
  src: url("fonts/ItalianTypewriter.woff2") format("woff2"), url("fonts/ItalianTypewriter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #CEA941;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #CEA941;
  color: #fff;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #161618;
  font: 400 100%/1 "Avenir LT Std", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir LT Std", sans-serif; }

a {
  color: #161618;
  transition: all 0.3s ease-in-out; }

body {
  background: #FDFAF5;
  min-height: 100vh; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
/*

    ----------------------------------------------------------------------
                               03 Partials
    ----------------------------------------------------------------------

*/
/*

    ----------------------------------------------------------------------
                                04 Templates
    ----------------------------------------------------------------------

*/
body.home section.banner {
  background: #161618;
  color: #fff;
  padding: 25px 0 21px 0; }
  body.home section.banner p {
    text-align: center;
    font-size: 1.25em;
    font-weight: 400; }
    body.home section.banner p a {
      color: #fff;
      text-decoration: underline; }

body.home section.hero .logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%; }
  body.home section.hero .logo .logo-wrapper {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px 25px; }
    @media screen and (min-width: 768px) {
      body.home section.hero .logo .logo-wrapper {
        max-width: 400px; } }
    body.home section.hero .logo .logo-wrapper img {
      width: 100%; }

body.home section.hero .photo {
  max-height: 800px;
  position: relative; }
  body.home section.hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%; }
  body.home section.hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media screen and (min-width: 768px) {
    body.home section.hero .photo {
      position: relative; }
      body.home section.hero .photo:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%; }
      body.home section.hero .photo > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  body.home section.hero .photo img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%; }

body.home section.links {
  text-align: center;
  padding: 50px 0 50px 0; }
  @media screen and (min-width: 768px) {
    body.home section.links {
      padding: 100px 0 100px 0; } }
  body.home section.links .headline {
    padding-bottom: 50px; }
    body.home section.links .headline h2 {
      font-family: "Italian Typewriter", serif;
      text-transform: lowercase;
      font-weight: bold;
      color: #CEA941;
      font-size: 2.5em;
      line-height: 1em; }
      body.home section.links .headline h2:after {
        content: "";
        display: block;
        width: 80px;
        height: 6px;
        border-radius: 2px;
        background: #CEA941;
        margin: 25px auto 0 auto; }
      @media screen and (min-width: 768px) {
        body.home section.links .headline h2 {
          font-size: 4em; } }
  body.home section.links .links-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start; }
    body.home section.links .links-wrapper .link {
      width: 100%;
      margin-bottom: 20px; }
      @media screen and (min-width: 768px) {
        body.home section.links .links-wrapper .link {
          width: calc(50% - 10px); } }
      @media screen and (min-width: 768px) {
        body.home section.links .links-wrapper .link {
          width: calc(25% - 10px); } }
      body.home section.links .links-wrapper .link .note {
        padding-top: 25px;
        margin: 0 auto;
        max-width: 420px; }
        body.home section.links .links-wrapper .link .note p {
          font-family: "Italian Typewriter", serif;
          text-transform: lowercase;
          font-weight: bold;
          font-size: 1.125em;
          line-height: 1.125em; }
          body.home section.links .links-wrapper .link .note p a {
            font-size: 0.875em;
            color: #CEA941; }
            body.home section.links .links-wrapper .link .note p a:hover {
              text-decoration: underline; }
      body.home section.links .links-wrapper .link a.btn {
        background: #161618;
        color: #fff;
        font-family: "Italian Typewriter", serif;
        text-transform: lowercase;
        font-weight: bold;
        font-size: 1.25em;
        padding: 20px 25px 18px 25px;
        border-radius: 10px;
        display: inline-block; }
        body.home section.links .links-wrapper .link a.btn:hover {
          background: #CEA941; }

body.home section.photos {
  background: #161618;
  padding: 50px 0; }
  body.home section.photos .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    body.home section.photos .wrapper .photo {
      width: 100%;
      padding-top: 25px; }
      @media screen and (min-width: 568px) {
        body.home section.photos .wrapper .photo {
          width: calc(33.3333% - 25px);
          padding-top: 0; } }
      body.home section.photos .wrapper .photo img {
        border-radius: 12px; }

body.home section.info {
  background: #1D241D;
  color: #CEA941;
  padding: 50px 0 25px 0;
  text-align: center; }
  body.home section.info .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    body.home section.info .wrapper .col {
      width: 100%;
      color: #fff; }
      body.home section.info .wrapper .col + .col {
        padding-top: 50px;
        border-top: 2px solid rgba(209, 173, 77, 0.25);
        margin-top: 50px; }
      @media screen and (min-width: 768px) {
        body.home section.info .wrapper .col {
          width: 33.3333%; }
          body.home section.info .wrapper .col + .col {
            border-left: 2px solid rgba(209, 173, 77, 0.25);
            border-top: none;
            padding-top: 0;
            margin-top: 0; } }
      body.home section.info .wrapper .col .headline {
        padding-bottom: 25px; }
        body.home section.info .wrapper .col .headline h3 {
          color: #CEA941;
          font-family: "Italian Typewriter", serif;
          text-transform: lowercase;
          font-weight: bold;
          font-size: 2.5em; }
          @media screen and (min-width: 768px) {
            body.home section.info .wrapper .col .headline h3 {
              font-size: 2em; } }
          @media screen and (min-width: 1024px) {
            body.home section.info .wrapper .col .headline h3 {
              font-size: 2.5em; } }
          body.home section.info .wrapper .col .headline h3 strong {
            color: #863029; }
      body.home section.info .wrapper .col .copy {
        padding-left: 20px;
        padding-right: 20px; }
        body.home section.info .wrapper .col .copy p {
          font-size: 1.25em;
          line-height: 1.75em;
          letter-spacing: -0.02em; }
      body.home section.info .wrapper .col .coming-soon p {
        font-size: 1.125em;
        color: #CEA941;
        font-style: italic;
        line-height: 1.5em;
        letter-spacing: 0.02em; }
  body.home section.info .menus .links-wrapper {
    text-transform: lowercase; }
    body.home section.info .menus .links-wrapper .link + .link {
      padding-top: 25px; }
    body.home section.info .menus .links-wrapper .link a {
      color: #fff;
      font-size: 1.25em; }
      @media screen and (min-width: 1024px) {
        body.home section.info .menus .links-wrapper .link a {
          font-size: 1.5em; } }
      body.home section.info .menus .links-wrapper .link a:hover {
        text-decoration: underline; }
    body.home section.info .menus .links-wrapper .note p {
      color: #fff;
      font-size: 1.25em; }
      body.home section.info .menus .links-wrapper .note p em {
        color: #CEA941;
        font-size: 0.875em;
        letter-spacing: 0.02em; }
  body.home section.info .location .copy {
    padding-bottom: 50px; }
    body.home section.info .location .copy a {
      color: #fff; }
      body.home section.info .location .copy a:hover {
        text-decoration: underline; }
  body.home section.info .location .large-party a {
    color: #CEA941; }

body.home section.footer-links {
  background: #1D241D;
  color: #CEA941;
  text-align: center; }
  @media screen and (min-width: 768px) {
    body.home section.footer-links {
      padding-bottom: 50px; } }
  body.home section.footer-links .wrapper {
    padding-top: 25px; }
    @media screen and (min-width: 768px) {
      body.home section.footer-links .wrapper {
        padding-top: 10px; } }
    body.home section.footer-links .wrapper .col-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border-top: 2px solid rgba(209, 173, 77, 0.25); }
      @media screen and (min-width: 768px) {
        body.home section.footer-links .wrapper .col-wrapper {
          padding-top: 25px; } }
    body.home section.footer-links .wrapper .col {
      width: 100%;
      padding: 50px 0; }
      body.home section.footer-links .wrapper .col + .col {
        border-top: 2px solid rgba(209, 173, 77, 0.25); }
      @media screen and (min-width: 768px) {
        body.home section.footer-links .wrapper .col {
          width: 33.3333%;
          padding: 25px 0; }
          body.home section.footer-links .wrapper .col + .col {
            border-left: 2px solid rgba(209, 173, 77, 0.25);
            border-top: none; } }
      body.home section.footer-links .wrapper .col .headline-link {
        font-family: "Italian Typewriter", serif;
        text-transform: lowercase;
        font-weight: bold;
        color: #CEA941;
        font-size: 2.5em; }
        @media screen and (min-width: 768px) {
          body.home section.footer-links .wrapper .col .headline-link {
            font-size: 2em; } }
        @media screen and (min-width: 1024px) {
          body.home section.footer-links .wrapper .col .headline-link {
            font-size: 2.25em; } }
        body.home section.footer-links .wrapper .col .headline-link strong {
          color: #863029; }
  body.home section.footer-links .social .links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      body.home section.footer-links .social .links-wrapper {
        padding-top: 5px; } }
  body.home section.footer-links .social a {
    display: block;
    padding: 10px; }
    body.home section.footer-links .social a img {
      max-width: 68px;
      width: 100%; }

body.home section.hrg-footer {
  background: #161618;
  color: #fff;
  padding: 50px 0; }
  body.home section.hrg-footer p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1em;
    margin-bottom: -3px;
    font-weight: 900; }
    @media screen and (min-width: 768px) {
      body.home section.hrg-footer p {
        font-size: 1.25em; } }
  body.home section.hrg-footer a {
    color: rgba(255, 255, 255, 0.75); }
    body.home section.hrg-footer a:hover {
      color: white; }
  body.home section.hrg-footer .newsletter {
    text-align: center;
    padding: 50px 0 0 0; }
    body.home section.hrg-footer .newsletter h4 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1em;
      font-size: 0.8125em;
      line-height: 1.5em;
      text-align: center;
      color: rgba(255, 255, 255, 0.75); }
    body.home section.hrg-footer .newsletter .cta {
      padding-top: 30px; }
      body.home section.hrg-footer .newsletter .cta a.btn {
        border: 2px solid rgba(255, 255, 255, 0.75);
        background: transparent;
        color: rgba(255, 255, 255, 0.75);
        padding: 10px 16px 8px 16px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 0.1em;
        font-weight: bold; }
        body.home section.hrg-footer .newsletter .cta a.btn:hover {
          background: #fff;
          color: #161618; }

.overlay {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(47, 46, 45, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; }
  .overlay.show {
    opacity: 1; }

.overlay-wrapper {
  background: #fff;
  max-width: 640px;
  padding: 50px;
  border-radius: 2px;
  box-shadow: 0 0 24px rgba(47, 46, 45, 0.5);
  max-height: 90vh;
  overflow: scroll; }

.close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 2em; }

section#newsletter-subscribe {
  display: none;
  padding: 25px; }
  section#newsletter-subscribe .overlay-wrapper {
    padding: 100px 50px; }
  section#newsletter-subscribe #mc_embed_signup div.mce_inline_error {
    background-color: #f00;
    font-weight: normal;
    margin: 10px 0 0 0;
    font-size: 1em;
    padding: 12px 12px; }
  section#newsletter-subscribe #mce-responses {
    margin-top: 10px; }
    section#newsletter-subscribe #mce-responses .response {
      font-size: 0.875em;
      line-height: 1.25em; }
  section#newsletter-subscribe form p {
    width: 100%;
    display: block;
    padding: 0 0 25px 0;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.125em; }
    @media screen and (min-width: 768px) {
      section#newsletter-subscribe form p {
        font-size: 1.75em; } }
  section#newsletter-subscribe form .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    section#newsletter-subscribe form .form-wrapper .mc-field-group {
      width: 100%; }
      @media screen and (min-width: 768px) {
        section#newsletter-subscribe form .form-wrapper .mc-field-group {
          width: auto;
          flex: 1; } }
    section#newsletter-subscribe form .form-wrapper .clear {
      width: 100%; }
      @media screen and (min-width: 768px) {
        section#newsletter-subscribe form .form-wrapper .clear {
          width: auto; } }
  section#newsletter-subscribe form input[type="email"] {
    width: 100%;
    border: none;
    padding: 14px 15px 11px 15px;
    font-weight: 500;
    border: 2px solid #161618; }
    section#newsletter-subscribe form input[type="email"]::-webkit-input-placeholder {
      color: #161618; }
    section#newsletter-subscribe form input[type="email"]::-moz-placeholder {
      color: #161618; }
    section#newsletter-subscribe form input[type="email"]:-ms-input-placeholder {
      color: #161618; }
    section#newsletter-subscribe form input[type="email"]::-ms-input-placeholder {
      color: #161618; }
    section#newsletter-subscribe form input[type="email"]::placeholder {
      color: #161618; }
    section#newsletter-subscribe form input[type="email"]:active, section#newsletter-subscribe form input[type="email"]:focus {
      outline: none; }
  section#newsletter-subscribe form .button {
    border: 2px solid;
    background: transparent;
    color: #161618;
    margin-top: 10px;
    padding: 18px 16px 15px 16px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    font-weight: bold;
    transition: all 0.2s ease-in-out; }
    @media screen and (min-width: 768px) {
      section#newsletter-subscribe form .button {
        margin: 0 0 0 10px; } }
    section#newsletter-subscribe form .button:hover {
      background: #161618;
      color: #fff;
      border: 2px solid #161618; }
    section#newsletter-subscribe form .button:active, section#newsletter-subscribe form .button:focus {
      outline: none; }

section#large-party-form {
  display: none;
  padding: 25px; }
  section#large-party-form .overlay-wrapper {
    padding: 50px;
    background: #FDFAF5; }
  section#large-party-form .wpforms-title {
    font-weight: bold;
    font-size: 36px;
    font-family: "Italian Typewriter", serif;
    text-transform: lowercase;
    color: #CEA941; }
  section#large-party-form .wpforms-description {
    font-size: 14px;
    line-height: 22px; }
  section#large-party-form .wpforms-field-divider {
    padding-top: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 10px; }
    section#large-party-form .wpforms-field-divider h3 {
      font-size: 24px;
      font-weight: bold;
      font-family: "Italian Typewriter", serif;
      text-transform: lowercase;
      color: #1D241D; }
  section#large-party-form div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
  section#large-party-form div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
  section#large-party-form div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100%; }
  section#large-party-form .wpforms-field-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    section#large-party-form .wpforms-field-container > * {
      width: 100%; }
    @media screen and (min-width: 768px) {
      section#large-party-form .wpforms-field-container .wpforms-field-email,
      section#large-party-form .wpforms-field-container .wpforms-field-phone,
      section#large-party-form .wpforms-field-container .wpforms-field-date-time {
        width: calc(50% - 10px); } }
  section#large-party-form div.wpforms-container-full .wpforms-form .wpforms-field-description {
    font-size: 14px;
    line-height: 22px; }
  section#large-party-form div.wpforms-container-full .wpforms-form label.wpforms-error {
    padding-top: 5px; }
  section#large-party-form div.wpforms-container-full .wpforms-form button[type=submit] {
    background: #161618;
    color: #fff;
    font-family: "Italian Typewriter", serif;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 1.25em;
    padding: 20px 25px 16px 25px;
    border-radius: 10px;
    display: inline-block;
    border: none; }
    section#large-party-form div.wpforms-container-full .wpforms-form button[type=submit]:hover {
      background: #CEA941; }
    @media screen and (min-width: 1024px) {
      section#large-party-form div.wpforms-container-full .wpforms-form button[type=submit] {
        font-size: 1.5em; } }
